

<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org"><head>
    <title>Lista de Artigos</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <style>

    </style>
</head>
<body>

<nav class="navbar navbar-inverse">
    <div class="container-fluid">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>

        </div>
        <div class="collapse navbar-collapse" id="myNavbar">
            <ul class="nav navbar-nav">
                <li><a href="/index.html" th:href="@{/}" >Home</a></li>
                <li><a href="/evento/evento.html"  th:href="@{/evento}">Evento</a></li>
                <li class="dropdown"><a href="/usuario/usuario.html" th:href="@{/usuario}" class="dropdown-toggle"
                                        data-toggle="dropdown" role="button">Usuário<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/usuario/detalheUsuario.html" th:href="@{/detalhe}">Detalhes</a></li>
                        <li><a href="/usuario/cadastro.html" th:href="@{/cadastro}">Cadastro</a></li>
                    </ul>
                </li>
                <li class="dropdown active"><a href="/submissoes/submissoes.html" th:href="@{/submissoes}" class="dropdown-toggle"
                    data-toggle="dropdown" role="button">Submissões<span class="caret"></span></a>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="/submissoes/evento/submeteEvento.html" th:href="@{/submete}">Novo Artigo</a></li>
                        <li><a href="/submissoes/mostraSubmissoes.html" th:href="@{/mostra}">Buscar Artigo</a></li>
                    </ul>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                <li><a href="/login/login.html"  th:href="@{/login}"><span class="glyphicon glyphicon-log-in"  ></span> Login</a></li>
            </ul>
        </div>
    </div>
</nav>

<div>
    <div class="container-fluid text-center" >
        <div class="row content"  >
            <h1>Lista de Artigo</h1>
            <br>
        </div>
        <div class="panel panel-default">
            <div class="panel-heading">
                <strong>ARTIGOS</strong>
            </div>
            <div class="panel-body">
                <div class="table-responsive">
                    <table class="table table-sm table-striped table-hover table-bordered">
                        <thead>
                        <tr>
                            <th>ID</th>
                            <th>Evento</th>
                            <th>Usuário</th>
                            <th>Artigo</th>
                            <th>Resumo</th>
                            <th>Data da Submissão</th>
                            <th>Anexo</th>
                            <th></th>
                        </tr>
                        </thead>
                        <tbody>
                        <!--<tr th:each="post : ${posts}">
                            <td th:text="${post.id}"></td>
                            <td th:utext="${post.nome_evento}"></td>
                            <td th:text="${post.usua_id}"></td>
                            <td th:text="${#dates.format(post.dt_evento, 'dd/MM/yyyy')}"></td>
                            <td th:text="${#dates.format(post.dt_iinscr, 'dd/MM/yyyy')}"></td>
                            <td th:text="${#dates.format(post.dt_finscr, 'dd/MM/yyyy')}"></td>
                            <td>
                                <div class="btn-group pull-right">
                                    <a class="btn btn-sm btn-primary" th:href="@{/deletaSubmissao/{id}(id=${post.id})}" >Deleta</a>
                                </div>
                            </td>
                        </tr>-->
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
</body>
</html>



