<!DOCTYPE html>
<html lang="pt-br"  xmlns:th="http://www.thymeleaf.org"><head>
  <title>Portal de Eventos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		  <li><a href="/index.html" th:href="@{/}" >Home</a></li>
		  <li><a href="/evento/evento.html"  th:href="@{/evento}">Evento</a></li>
		  <li class="dropdown"><a href="/usuario/usuario.html" th:href="@{/usuario}" class="dropdown-toggle" data-toggle="dropdown" role="button">Usuário<span class="caret"></span></a>
			  <ul class="dropdown-menu" role="menu">
				  <li><a href="/usuario/detalheUsuario.html" th:href="@{/detalhe}">Detalhes</a></li>
				  <li><a href="/usuario/cadastro.html" th:href="@{/cadastro}">Cadastro</a></li>
			  </ul>
		  </li>
          <li class="dropdown"><a href="/submissoes/submissoes.html" th:href="@{/submissoes}" class="dropdown-toggle"
              data-toggle="dropdown" role="button">Submissões<span class="caret"></span></a>
              <ul class="dropdown-menu" role="menu">
                  <li><a href="/submissoes/evento/submeteEvento.html" th:href="@{/submete}">Novo Artigo</a></li>
                  <li><a href="/submissoes/mostraSubmissoes.html" th:href="@{/mostra}">Buscar Artigo</a></li>
              </ul>
          </li>
      </ul>
      <ul class="nav navbar-nav navbar-right active">
        <li><a href="/login/login.html"  th:href="@{/login}"><span class="glyphicon glyphicon-log-in"  ></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			<br>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#signin">Faça o Login</a></li>
				<li><a data-toggle="tab" href="#signup">Não é cadastrado? Então clique aqui</a></li>
			</ul>

			<div class="tab-content">
				<div id="signin" class="tab-pane fade in active">
					<br>
					<form role="Form" method="POST" action="" accept-charset="UTF-8">
						<div class="form-group">
							<input type="text" name="email" placeholder="Email" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" name="password" placeholder="Senha" class="form-control">
						</div>
						<div class="form-group">
							
						</div>
						<br>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Entrar</button>
						</div>
					</form>
				</div>
				<div id="signup" class="tab-pane fade">
					<br>
					<form role="Form" method="POST" action="" accept-charset="UTF-8">
                        <div class="form-group">
							<input type="text" name="nome" placeholder="nome" class="form-control" >
						</div>
                        <div class="form-group">
                            <input type="text" name="email" placeholder="email" class="form-control" required="required">
                        </div>
						<div class="form-group">
                            <input type="text" name="username" placeholder="username" class="form-control" required="required">
						</div>
						<div class="form-group">
                            <input type="password" name="password" placeholder="senha" class="form-control" required="required">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Cadastrar</button>
						</div>

					</form>
				</div>
    		</div>
		</div>

	</div>
</div>
	<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>


