<!DOCTYPE html>
<html lang="pt-br">
<head>
  <title>Portal de Eventos</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  <style>
    
  </style>
</head>
<body>

<nav class="navbar navbar-inverse">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>                        
      </button>
      
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
		  <li><a href="../../templates/index.html"  th:href="@{/index}" >Home</a></li>
		  <li><a href="../../templates/evento/evento.html"  th:href="@{/evento}">Evento</a></li>
		  <li><a href="../../templates/usuario/usuario.html"  th:href="@{/usuario}">Usuário</a></li>
		  <li><a href="../../templates/submissoes/submissoes.html"  th:href="@{/submissoes}">Submissões</a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="../../templates/login/login.html"  th:href="@{/login}><span class="glyphicon glyphicon-log-in"  class="active"></span> Login</a></li>
      </ul>
    </div>
  </div>
</nav>
  
<div class="container">
	<div class="row">
		<div class="col-xs-12 col-sm-8 col-sm-offset-2 col-md-6 col-md-offset-3 col-lg-6 col-lg-offset-3">
			<br>
			<ul class="nav nav-tabs">
				<li class="active"><a data-toggle="tab" href="#signin">Entrar</a></li>
				<li><a data-toggle="tab" href="#signup">Cadastrar-se</a></li>
			</ul>

			<div class="tab-content">
				<div id="signin" class="tab-pane fade in active">
					<br>
					<form role="Form" method="POST" action="" accept-charset="UTF-8">
						<div class="form-group">
							<input type="text" name="email" placeholder="Email" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" name="password" placeholder="Senha" class="form-control">
						</div>
						<div class="form-group">
							
						</div>
						<br>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Entrar</button>
						</div>
					</form>
				</div>
				<div id="signup" class="tab-pane fade">
					<br>
					<form role="Form" method="POST" action="" accept-charset="UTF-8">
						<div class="form-group">
							<input type="text" name="nome" placeholder="Nome" class="form-control">
						</div>
						<div class="form-group">
							<input type="text" name="email" placeholder="Email" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" name="password" placeholder="Senha" class="form-control">
						</div>
						<div class="form-group">
							<input type="password" name="password2" placeholder="Confirme a senha" class="form-control">
						</div>
						<div class="form-group">
							<button type="submit" class="btn btn-default">Cadastrar</button>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>

	<script src="/js/main.js" charset="utf-8"></script>
</body>
</html>



</body>
</html>
